.nav-link img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.nav-link img:hover {
    cursor: pointer;
}

.navbar-nav {
    text-align: center;
}

.nav-item .nav-link:hover {
    cursor: pointer;
    color: #7d59ff;
    border-bottom: 1px solid #7d59ff;
}

.account {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.notifica {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #f5f4f8;
    margin-right: 8px;
    cursor: pointer;
}

.notifica i {
    color: #a8a3b9;
    text-align: center;
    font-size: 15px;
}

.notifica i::after {
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
    top: 3px;
    left: 30px;
    background-color: #7d59ff;
    border-radius: 10px;
    border: 2px solid white;
}

.user {
    width: 45px;
    height: 45px;
    background-image: url(/assets/img/avatar-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
}

.user::after {
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
    bottom: 3px;
    right: 1px;
    background-color: #1acb98;
    border-radius: 10px;
    border: 2px solid white;
}

.connesso {
    position: relative;
    align-items: center;
}

.connesso h5 {
    font-size: 15px;
}

.connesso p {
    font-size: 13px;
}

.user-icon {
    width: 45px;
    height: 45px;
    background-image: url(/assets/img/avatar-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
}

.user-icon::after {
    content: '';
    height: 12px;
    width: 12px;
    position: absolute;
    bottom: 10px;
    left: 40px;
    background-color: #1acb98;
    border-radius: 10px;
    border: 2px solid white;
}

.dropdown-menu .bi {
    padding-right: 10px;
}

.hero {
    background-color: #7d59ff;
}

.my-auto h1 {
    font-weight: bold;
}

.bg-green {
    background-color: #19cb98;
}

.btn:hover {
    background-color: #19cb98;
}

.dettagli {
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffeeda;
    color: #c38136;
}