.navbar-nav {
text-align: center;
}

.account {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notifica {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #f5f4f8;
    margin-right: 8px;

}

.notifica i {
    color: #a8a3b9;
    text-align: center;
    font-size: 15px;
}

.user {
    width: 45px;
    height: 45px;
    background-image: url(/assets/img/avatar-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}